<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your like button code -->
<div class="fb-like" 
	data-href="http://GibeomOh.github.io{{page.url}}" 
	data-layout="standard" 
	data-action="like" 
	data-show-faces="true">
</div>

<!-- Your comment code -->
<div class="fb-comments" data-href="http://GibeomOh.github.io{{page.url}}" data-numposts="5">
</div>